@media only screen and (max-width: 990px) {
  .search-box {
    padding-top: 10px;
  }
}
#search-button {
  margin-right: 0;
  top: 0;
  right: 0;
  color: gray;
  width: 38px;
  height: 100%;
  border: none;
  border-collapse: collapse;
  background-color: white;
}

/* ================ CROSS BROWSER COMPATABILITY =============== */

.ask-question,
nav,
.notification-box.active,
nav ul li a,
.user-account-settingss.active,
.user-info a,
.suggestion-usd > span i,
.view-more > a,
.tags-sec ul li a,
.post-st ul li a,
.ed-opts > a,
.bk-links li a,
.like-com li a,
.user-profy > a,
.slick-previous:before,
.slick-nexti:before,
.comment > a,
.sign_link > a,
.post-popup,
.post-project > a,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.sign-control li a,
.cover-sec > a,
.star-descp > a,
.message-btn a,
.pf-gallery ul li,
.gallery_pt:before,
.gallery_pt > a,
.overview-box,
.skl-name,
.conv-list,
.save-stngs ul li button,
.forum-links.active,
.react-links li a,
.next-prev > a,
nav ul li:hover > ul,
.user-pro-img > a i {
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
/* ============== DEFAULT BORDER RADIUS =========== */

.ask-question,
.login_register ul li a,
.search-bar form input,
.search-bar form button,
.search_form form input,
.post-st ul li a,
.post-bar,
.bk-links li i,
.bid_now,
.user-profy ul li a,
.posty,
.comment_box form button,
.post-project-fields form input,
.post-project-fields form textarea,
.post-project-fields form select,
.post-project-fields form ul li button,
.post-project-fields form ul li a,
.signin-pop,
.sign-control,
.sign_in_sec form input,
.sign_in_sec form select,
.sign_in_sec form button,
.signup-tab,
.login-resources ul li a,
.flw-hr li a,
.message-btn a,
.user-profile-ov,
.portfolio-gallery-sec,
.overview-edit,
.overview-edit form textarea,
.overview-edit form input,
.overview-edit form select,
.overview-edit button,
.file-submit,
.billing-method,
.lt-sec > a,
.add-billing-method,
.payment_methods form button,
.payment_methods form input,
.company-up-info ul li a,
.search-box form input,
.filter-dd form input,
.filter-dd form select,
.conversation-box,
.save-stngs ul li button,
.cp-field input,
.cp-field textarea,
.accept-req,
.mf-field input,
.mf-field button,
.pagination li .page-link,
.post_comment_sec form textarea,
.post_comment_sec form button,
.next-prev > a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* Home Left Sidebar Css Start*/
main {
  float: left;
  width: 100%;
  padding: 60px 0;
}
.main-section {
  float: left;
  width: 100%;
}
.main-section-data {
  float: left;
  width: 100%;
}
.main-left-sidebar {
  float: left;
  width: 100%;
  margin-top: -20px;
}
.full-width {
  float: left;
  width: 90%;
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.username-dt {
  float: left;
  width: 100%;
  background-color: #e44d3a;
  padding-top: 40px;
}
.user-data {
  text-align: center;

  margin-left: 5%;
  margin-right: 5%;
}
.usr-pic {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  margin-bottom: -48px;
}
.usr-pic > img {
  float: none;
  border: 5px solid #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100%;
  width: 100%;
}
.user-profile {
  float: left;
  width: 100%;
}
.user-specs {
  float: left;
  width: 100%;
  padding: 63px 0 27px 0;
}
.user-specs h3 {
  color: #000000;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 8px;
}
.user-specs span {
  color: #686868;
  font-size: 14px;
}

.user-fw-status {
  float: left;
  width: 100%;
}
.user-fw-status li {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
}
.user-fw-status li:last-child {
  border-bottom: 0;
}
.user-fw-status li:nth-child(1),
.user-fw-status li:nth-child(2) {
  border-bottom: 0;
}
.user-fw-status li h4 {
  color: #686868;
  font-size: 20px;
  margin-bottom: 10px;
}
.user-fw-status span {
  color: #000000;
  font-size: 20px;
}
.user-fw-status li a {
  color: #e44d3a;
  font-size: 14px;
  font-weight: 600;
}
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
/* Home Left Sidebar Css End*/
/* ============= Suggestions ============ */

.sd-title {
  float: left;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.sd-title h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  float: left;
}
.sd-title i {
  float: right;
  color: #b7b7b7;
  font-size: 30px;
  position: absolute;
  right: 5px;
  top: 15px;
}
.suggestions-list {
  float: left;
  width: 100%;
  padding: 13px 0 30px 0;
}
.suggestion-usd {
  float: right;
  width: 100%;
  padding: 15px 20px;
}
.suggestion-usd img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.suggestions {
  border: 1px solid #e5e5e5;
}
.sug-image {
  float: left;
}
.sgt-text {
  float: left;
  padding-left: 10px;
}
.sgt-text h4 {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}
.sgt-text span {
  color: #686868;
  font-size: 14px;
}
.suggestion-usd > span {
  float: right;
  margin-top: 4px;
  position: relative;
}
.suggestion-usd > span i {
  color: #b2b2b2;

  text-align: center;

  cursor: pointer;
}

.plus-button:hover {
  background-color: #e44d3a;
  color: #fff;
}
.view-more {
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}
.view-more > a {
  color: #e44d3a;
  font-size: 14px;
  font-weight: 700;
}
.view-more > a:hover {
  color: #e44d3a;
}
/* =============== right-sidebar ============= */

.right-sidebar {
  float: left;
  width: 100%;
}
.widget {
  float: left;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.24);
}
.widget-about {
  text-align: center;
}
.widget-about img {
  float: none;
  padding-top: 20px;
}
.widget-about h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.widget-about span {
  color: #686868;
  font-size: 14px;
  margin-bottom: 30px;
  float: left;
  width: 100%;
}
.sign_link {
  float: left;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  padding: 18px 0 15px 0;
}
.sign_link h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.sign_link h3 a {
  color: #000;
}
.sign_link > a {
  display: inline-block;
  color: #e44d3a;
  font-size: 14px;
  font-weight: 500;
}
.sign_link > a:hover {
  color: #e44d3a;
}

/* ============== Widget Jobs ============ */

.jobs-list {
  float: left;
  width: 100%;
  padding: 20px 20px;
}
.job-info {
  float: left;
  width: 100%;
  margin-bottom: 22px;
}
.job-info:last-child {
  margin-bottom: 0;
}
.job-details {
  float: left;
  width: 170px;
}
.job-details h3 {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
.job-details p {
  color: #686868;
  font-size: 14px;
  line-height: 20px;
}
.hr-rate {
  float: right;
  width: 40px;
}
.hr-rate span {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  float: right;
}
.title-icon {
  float: right;
  color: #b2b2b2;
}
/* ============ post-topbar =========== */

.post-topbar {
  float: left;
  width: 100%;
  padding: 23px 20px;
  background-color: #fff;
  border-top: 4px solid #e44d3a;
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
}
.user-picy {
  float: left;
  width: 50px;
}
.user-picy img {
  width: 100%;
  object-fit: cover;
}
.post-st {
  float: right;
  margin-top: 5px;
}
.post-st ul li {
  display: inline-block;
  margin-right: 6px;
}
.post-st ul li:last-child {
  margin-right: 0;
}
.post-st ul li a {
  color: #b2b2b2;
  font-size: 16px;
  display: inline-block;
  background-color: #e5e5e5;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  font-weight: 500;
}
.post-st ul li a:hover,
.post-st ul li a.active {
  background-color: #e44d3a;
  color: #fff;
}

/* ================ posts-section ================== */

.posts-section {
  float: left;
  width: 100%;
}
.post-bar {
  float: left;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}
.post_topbar {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px 20px 15px 20px;
}
.usy-dt {
  float: left;
}
.usy-dt img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.ed-opts {
  float: right;
  position: relative;
  top: 7px;
}
.ed-opts > a {
  color: #b2b2b2;
  font-size: 30px;
  float: right;
  position: relative;
  left: 13px;
}
.ed-options {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
}
.ed-options.active {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.ed-options li {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.ed-options li:last-child {
  margin-bottom: 0;
}
.ed-options li a {
  color: #686868;
  font-size: 14px;
  font-weight: 600;
}
.ed-opts > a:hover {
  color: #e44d3a;
}
.usy-name {
  float: left;
  margin-left: 10px;
}
.usy-name h3 {
  color: #000000;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 6px;
  margin-top: 2px;
}
.usy-name span {
  color: #b2b2b2;
  font-size: 14px;
}
.usy-name img {
  margin-top: 2px;
  margin-right: 6px;
}

.epi-sec {
  float: left;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 20px;
}
.descp {
  float: left;
  margin-top: 3px;
}
.descp li {
  display: inline-block;
  margin-right: 15px;
}
.descp li span {
  color: #b2b2b2;
  font-size: 14px;
  float: left;
}
.descp li img {
  margin-right: 5px;
}
.bk-links {
  float: right;
  margin-left: 5px;
}
.bk-links li {
  display: inline-block;
  margin-right: 12px;
}
.bk-links li:last-child {
  margin-right: 50px;
}
.bk-links li i {
  color: #fff;
  font-size: 24px;
  width: 30px;
  height: 30px;
  background-color: #53d690;
  text-align: center;
  line-height: 30px;
}
.bk-links li i.la-envelope {
  background-color: #e44d3a;
}
.bid_now {
  color: #fff;
  background-color: #51a5fb;
  text-transform: capitalize;
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  position: relative;
  top: -3px;
}
.bid_now:hover {
  color: #fff;
}

/* ============== job_descp ============ */

.job_descp {
  float: left;
  width: 100%;
  padding: 0 20px 20px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.job_descp h3 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.job-dt {
  float: left;
  width: 100%;
  margin-bottom: 22px;
}
.job-dt ol,
ul {
  padding-left: 0 !important;
}
.job-dt li {
  display: inline-block;
  margin-right: 15px;
}
.job-dt li a {
  color: #fff;
  background-color: #53d690;
  text-transform: capitalize;
  padding: 5px 13px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-left: 0px !important;
}
.job-dt li span {
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.job_descp > p {
  color: #686868;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.job_descp > p a {
  color: #e44d3a;
  font-weight: 600;
}

/* ============= skill-tags =========== */

.skill-tags {
  float: left;
  width: 100%;
}
.skill-tags li {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 10px;
}
.skill-tags li a {
  display: inline-block;
  color: #b2b2b2;
  font-size: 14px;
  background-color: #e5e5e5;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding: 7px 15px;
  font-weight: 600;
}

/* ========== job-status-bar ========== */

.job-status-bar {
  float: left;
  width: 100%;
  padding: 15px 20px;
}
.like-com {
  float: left;
}
.like-com li {
  display: inline-block;
  margin-right: 15px;
}
.like-com li a {
  color: #b2b2b2;
  font-size: 14px;
  float: left;
  margin-top: 6px;
  margin-right: 5px;
}
.like-com li a:hover {
  color: #e44d3a;
}
.like-com li a.active {
  color: #e44d3a;
}
.like-com li a i {
  margin-right: 2px;
  font-size: 17px;
  position: relative;
  top: 2px;
}
.like-com li span {
  color: #ffffff;
  font-size: 13px;
  width: 30px;
  height: 30px;
  background-color: #e44d3a;
  line-height: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  float: left;
  text-align: center;
  font-weight: 600;
  margin-left: -25px;
}
.like-com li .com {
  position: relative;
  top: -5px;
}
.like-com li .com img {
  margin-right: 10px;
}

.job-status-bar > a {
  float: right;
  color: #b2b2b2;
  font-size: 14px;
  margin-top: 5px;
}
.job-status-bar > a i {
  font-size: 20px;
  margin-right: 7px;
  position: relative;
  top: 3px;
}
a {
  color: #007bff;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.esc-time {
  margin-right: 6px;
}
.icon-back {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
}
/* ============== companies-info ============== */

.companies-info {
  padding: 60px 0;
}
.company-title {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 15px;
}
.company-title h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  background-color: #fff;
  padding: 10px 15px;
  margin-top: 2rem;
}

.companies-list {
  float: left;
  width: 100%;
  margin-bottom: -30px;
}
.company_profile_info {
  float: left;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 30px;
}
.company-up-info {
  float: left;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}
.company-up-info img {
  float: none;
  margin-bottom: 10px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  height: 90px;
  object-fit: cover;
}
.company-up-info h3 {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.company-up-info h4 {
  color: #686868;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 21px;
}
.company-up-info ul {
  float: left;
  width: 100%;
}
.company-up-info ul li {
  display: inline-block;
  margin-right: 6px;
}
.company-up-info ul li a {
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  height: 35px;
  line-height: 35px;
}
.company-up-info ul li a i {
  font-size: 24px;
  position: relative;
  top: 3px;
}
.follow {
  background-color: #53d690;
}
.message-us {
  background-color: #e44d3a;
}
.hire-us {
  background-color: #51a5fb;
}
.company_profile_info > a {
  display: inline-block;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  padding: 18px 0;
}
.backColor {
  background-color: #eeeeee;
}
/* =============== filter-secs ============== */

.filter-secs {
  float: left;
  width: 100%;
  background-color: #fff;
}
.filter-heading {
  float: left;
  width: 100%;
  padding: 23px 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 27px;
}
.filter-heading h3 {
  float: left;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
}
.filter-heading a {
  float: right;
  color: #686868;
  font-size: 14px;
  margin-top: 4px;
}
.paddy {
  float: left;
  width: 100%;
  padding: 0 20px;
}
.filter-ttl {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 8px 0;
  margin-bottom: 10px;
}
.filter-ttl h3 {
  float: left;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}
.filter-ttl a {
  float: right;
  font-size: 14px;
  color: #686868;
}
.filter-dd {
  float: left;
  width: 100%;
  margin-bottom: 27px;
}
.filter-dd form {
  float: left;
  width: 100%;
  position: relative;
}
.filter-dd form input,
.filter-dd form select {
  width: 100%;
  height: 30px;
  background-color: #f2f2f2;
  padding: 0 10px;
  color: #b2b2b2;
  font-size: 12px;
  font-weight: 600;
  border: 0;
  border: 1px solid #e5e5e5;
}
.job-tp i {
  color: #000000;
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 18px;
}
.avail-checks {
  float: left;
  width: 100%;
  margin-top: 7px;
}
.avail-checks li {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.avail-checks li:last-child {
  margin-bottom: 0;
}
.avail-checks li input[type="radio"] {
  display: none;
}
.avail-checks li label {
  float: left;
}
.avail-checks li input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  margin-top: 3px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.avail-checks li input[type="radio"] + label span:before {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background-color: #e44d3a;
  top: 3px;
  left: 3px;
}
.avail-checks li input[type="radio"]:checked + label span:before {
  opacity: 1;
  visibility: visible;
}
.avail-checks li small {
  color: #909090;
  font-size: 14px;
  padding-left: 10px;
  font-weight: 500;
}
/* ================== USER PROFILE =================== */

.cover-sec img {
  width: 100%;
}
.cover-sec > div a {
  display: inline-block;
  color: #e44d3a;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #e44d3a;
  position: absolute;
  top: 100px;

  padding: 10px 15px;
  font-weight: 600;
  margin-right: 15px;
}
.cover-sec > div a i {
  padding-right: 5px;
}

/* ============= user_profile ============= */

.user_profile {
  float: left;
  width: 100%;
  background-color: #fff;
  margin-bottom: 20px;
  text-align: center;
  margin-top: -40px;
}
.user-pro-img {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 28px;
  margin-top: -95px;
  position: relative;
}
.user-pro-img > a {
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  line-height: 40px;
  background-color: #e44d3a;
  position: absolute;
  top: 0;
  left: 60%;
}

.user-pro-img img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  float: none;
  border: 5px solid #fff;
}
.user_pro_status {
  float: left;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 27px;
}
.flw-hr {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.flw-hr li {
  display: inline-block;
  margin-right: 17px;
}
.flw-hr li:last-child {
  margin-right: 0;
}
.flw-hr li a {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 15px;
}
.flw-hr li a i {
  padding-right: 5px;
}
.flww {
  background-color: #53d690;
}
.hre {
  background-color: #51a5fb;
}
/* =============== flw-status ============ */

.flw-status {
  float: left;
  width: 100%;
}
.flw-status li {
  display: inline-block;
  margin-right: 50px;
}
.flw-status li:last-child {
  margin-right: 0;
}
.flw-status li span {
  color: #686868;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  display: block;
}
.flw-status li b {
  color: #000000;
  font-size: 20px;
  font-weight: 700;
}

/* ================== social_links ============= */

.social_links {
  float: left;
  width: 100%;
  text-align: left;
}
.social_links li {
  float: left;
  width: 100%;
  padding: 15px 15px;
  border-bottom: 1px solid #e5e5e5;
}
.social_links li a {
  float: left;
  width: 100%;
  color: #51a5fb;
  font-size: 13px;
  font-weight: 400;
}
.social_links li a i {
  padding-right: 5px;
  font-size: 20px;
  position: relative;
  top: 3px;
}
.la-globe {
  color: #51a5fb;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-google-plus-square {
  color: #e2665c;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-behance-square {
  color: #1769ff;
}
.fa-pinterest {
  color: #bd081c;
}
.fa-instagram {
  color: #833ab4;
}
.fa-youtube {
  color: #cd201f;
}
